*{
	margin:0;
	padding: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.top1{
    background: #000;
	
}
.top1 li{
	list-style: none;
}
.top1 a{
	text-decoration: none;
	color: #9c8e8e;
}
.top11,.top12,.top13,.top14,.top15,.top16,.top17,.top18
,.top19,.top110,.top111,.top112{
	float: left;
	font-family: "Microsoft yahei";
    font-size: 14px;
	margin-left: 50px;
	margin-top: 10px;
}
.top2{
	opacity: 1;
	background: url(5.png);
}
.top2l{
	float: left;
	width: 1200px;
}
.top22{
	float: left;
	background: url(4.png);
	margin-left: 680px;
	width: 58px;
	height: 10px;
}
.center{
	width: 100%;
	height: 1015px;
	background-color: #09070e;
}
.center1{
	width: 1140px;
	height: 1000px;
	position: relative;
	background-color: #f6f5f5;
	margin: 0 auto;
}
.center2{
	position: absolute;
	margin-left: 42px;
	margin-top: 32px;
}
.center3{
	width: 1078px;
	height: 869px;
	background-color: #ffffff;
	padding-top: 56px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 80px;
}
.center31{
	background: url(23.png);
	width: 1019px;
	height: 280px;
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
}
.center32{
	width: 1019px;
	height: 240px;
	position: absolute;
}
.center32_left{
	width: 660px;
	height: 240px;
	font-family: "Microsoft yahei";
	font-size: 14px;
	
	margin-top: 300px;
    margin-left: 10px;
}
.center32_right{
	width: 326px;
	height: 232px;
	background: url(24.png);
	margin-left: 704px;
	margin-top: -244px;
	}
	.AAL{
		position: absolute;
		width: 480px;
		height: 234px;
		margin-top: 580px;
		margin-left: 10px;
	}
	.AAR{
		position: absolute;
		width: 480px;
		height: 234px;
		margin-top: 580px;
		margin-left: 542px;
	}
	.bottoml{
	float:left;
	margin-top: 20px;
	margin-left: -100px;
	
	
}
.bottom a{
	text-decoration: none;
}
.bottoml1,.bottoml2,.bottoml3,.bottoml4,.bottoml5{
	float: left;
	margin-left: 10px;
	list-style: none;
}
.bottomr{
	float: left;
	width: 1000px;
	height: 20px;
	margin-left: 260px;
	margin-top: -20px;
	
	
}